nav a {
    font-weight: 900;
    font-size: 18px;
}

.carousel {
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item {
    padding: 10px 40px;
}
.price-clr {
    color: #CA1A5E
}
.btn-buy {
    background-image: linear-gradient(to bottom, #FF5B9B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 9px 25px;
}
.mar-1 {
    margin-top: 70px;
}
.cat1 {
    background-color: orange;
}
.cat2 {
    background-color: orchid;
}
.cat3 {
    background-color: blue
}
.cat1, .cat2, .cat3 {
    padding: 10px 30px;
    border-radius: 15px;
}
.categories h1 {
    color: white;
}
.categories img {
    width: 100%;
}
#fuck-of {
    border: none;
    box-shadow: 5px 5px 10px gray;
}
